# Google Registry Configuration
VITE_GOOGLE_SCRIPT_URL="https://script.google.com/macros/s/AKfycbwkKdCN5hjTaj663bZbUnCoZ8bJvoTAg5I7hpbLP7oytFs4YC7O4yso3-pP3Bz_6OjXAQ/exec"
ADMIN_EMAIL="mis@yajurfibres.com"
GOOGLE_API_KEY="AIzaSyDPfiQX50wy1GySsnZ_a1O2CHkeJxk0h-E"

# Service Account (Optional if using Script URL)
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID="1vF_kvyjt1hGhalmZ1V52pCvakEsFiMVZvBGyEigALAE"
GOOGLE_DRIVE_FOLDER_ID="1a3EYnUtDSVOF-PdAxuoDcBJqtWZ9fijV"
